h1, h2, h3, h4, h5, p, a, button {
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Shippori Mincho B1', serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 10px;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    color: inherit;
}

h1 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}